/* Imports */
@import url("chrome://spacefox/content/tabs.css");

:root {
    /* Overrides */
    /* Border Radius */
    --border-radius-large: 12px !important;
    --border-radius-medium: 7px !important;
    --border-radius-small: 4px !important;
    --border-radius-xsmall: 2px !important;


    /* Spacefox Variables */
    --sf-border-radius-pattern-sm:
        var(--border-radius-small)
        var(--border-radius-medium)
        var(--border-radius-small)
        var(--border-radius-small);
}
